.cluster {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.cluster > h2 {
  color: #333;
  margin-top: 2%;
  margin-bottom: 0;
}

.cluster-setup {
  position: relative;
  background-color: #eee;
  margin: 0 auto;
  height: 500px;
  width: 500px;
  border-radius: 50%;
  margin-top: 4%;
}

.ant-row {
  margin: 0 auto;
}

.server-1 {
  position: absolute;
  top: -8%;
  left: 42%;
}

.server-2 {
  position: absolute;
  top: 30%;
  left: -5%;
}

.server-3 {
  position: absolute;
  top: 75%;
  left: 5%;
}

.server-4 {
  position: absolute;
  top: 75%;
  left: 78%;
}

.server-5 {
  position: absolute;
  top: 30%;
  left: 90%;
}

.message-point {
  height: 20px;
  width: 20px;
  background-color: #eee;
  border-radius: 50%;
  position: absolute;
  visibility: hidden;
  transition: all 2s ease-in;
}

.client-machine-point {
  top: -11%;
  background-color: #000;
  right: -65%;
  visibility: visible !important;
  transition: all 3s linear !important;
}

.S1-message-point {
  top: 5%;
  left: 47%;
}
.S2-message-point {
  top: 35%;
  left: 8%;
}
.S3-message-point {
  top: 75%;
  left: 16%;
}
.S4-message-point {
  top: 75%;
  left: 78%;
}
.S5-message-point {
  top: 35%;
  left: 88%;
}

.kill-server {
  color: #f44e4e !important;
  position: absolute;
  /* top: 50%; */
  left: 75%;
  font-size: large;
}

.setting-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
  margin-top: 2%;
}