.server {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.server-name {
  background-color: rgb(159, 52, 186);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  color: white;
  height: 65px;
  width: 65px;
  margin-block: 0;
  border: 5px solid #333;
}


.server-name-state {
  display: flex;
  flex-direction: column;
}

.server-name-state p {
  margin-block: 0;
  margin-top: 1%;
}

.server-stats-S1 {
  position: absolute;
  top: 0%;
  left: 100%;
  width: 180px;
}

.server-stats-S2 {
  position: absolute;
  top: 0%;
  left: -250%;
  width: 180px;
}

.server-stats-S3 {
  position: absolute;
  top: 0%;
  left: -250%;
  width: 180px;
}

.server-stats-S4 {
  position: absolute;
  top: 0%;
  left: 100%;
  width: 180px;
}

.server-stats-S5 {
  position: absolute;
  top: 0%;
  left: 100%;
  width: 180px;
}

.countDownTimer {
  border: 1px solid black;
  width: 10%;
  text-align: end;
  position: absolute;
  top: 100%;
  right: 0;
}